body {
  font: 24px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  color: black;
  background:  rgb(226, 231, 226) 50%;
}
.top, .bottom {
  width: fit-content;
  padding: 20px;
}
.button {
  font-size: 16px;
  font-weight: bold;
  height: 40px;
  padding: 8px;
  margin: 10px;
  text-align: center;
  width: 200px;
  background: #dddddd;
  color: #061b0c;
  border: 2px solid #999;
  cursor: pointer;
}

.square, 
.square-brake, 
.square-start,
.square-hidden,
.square-red, 
.square-green, 
.square-blue, 
.square-pink {
  float: left;
  user-select: none;
  font-size: 40px;
  font-weight: bold;
  line-height: 60px;
  height: 60px;
  width: 60px;
  margin: 5px;
  text-align: center;
  vertical-align: middle;
  color: #dddddd;
  border: 2px solid #999;
}
.clickable {
  cursor: pointer;
}
.square {
  background: #061b0c;
}
.square-brake, .square-start {
  background: #393b3a;
}

.square-red {
  background: #e90404;
  border: 2px solid #690303;
  color: #ffffffcc;
}
.square-pink {
  background: #f874f2;
  border: 2px solid #8d4189;
  color: #ffffffcc;
}
.square-blue {
  background: #035dd3;
  border: 2px solid #023374;
  color: #ffffffcc;
}
.square-green {
  background: #069e1a;
  border: 2px solid #044d0e;
  color: #ffffffcc;
}
.square-hidden {
  visibility: hidden;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;  
  flex-wrap: wrap;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(6, minmax(0px, 1fr));
  width: fit-content;
  padding: 20px;
  margin: 20px;
  background: radial-gradient(circle, rgba(41,172,42,1) 0%, rgb(12, 51, 12) 100%);
}
.player-board {
  display: grid;
  grid-template-columns: repeat(9, minmax(0px, 1fr));
  padding: 20px;
  margin: 20px;
  width: fit-content;
  background: radial-gradient(circle, rgb(110, 121, 110) 0%, rgb(190, 214, 190) 100%);
}

.visible {
  opacity: 1.0;
}
.blurred {
  opacity: 0.3;
}

.celebrate {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 60%; /* Full height (cover the whole page) */
  top: 20%;
  left: 0;
  right: 0;
  bottom: 20%;
  background-color: rgba(255,255,255, 0.7); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.streaker {
  max-width: 800px;
  max-height: 800px;
  width: auto;
  height: auto;
  border: 2px solid #999;
}
